* {
  margin: 0px;
  padding: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

body{
  justify-content: center;
}

.box {
  border: 2px solid black;
  padding: 10px;
  width: 500px;
  height: 200px;
  margin-top: 20%;
}

.top {
  margin-top: 10px;
  margin-bottom: 10%;
}

.top h1{
  font-size: 34px;
}

.top_right {
  margin-left: 35%;
}

.top_right p{
  margin-right: 15px;
}

#like {
  background-color: rgb(225, 206, 38);
  box-shadow: 3px 3px black;
  padding-left: 10px;
  padding-right: 10px;
}

.statement {
  font-size: 25px;
}